@page
@model IndexModel
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Protocol</th>
            <th scope="col">Address</th>
            <th scope="col">Device</th>
            <th scope="col">Local IP</th>
            <th scope="col">Local Port</th>
            <th scope="col">WAN Port</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PortForward portForward in Model.PortForwards.OrderBy(pF => pF.WANPort))
        {
            <tr>

                <th scope="row">@portForward.Name</th>
                <td>@portForward.Type</td>
                <td>@portForward.Protocol</td>
                @if (portForward.Type == "Website" && !string.IsNullOrEmpty(portForward.Address))
                {
                    <th scope="row"><a class="link-light" href="@(portForward.Protocol)://@(portForward.Address)">@portForward.Address</a></th>
                }
                else
                {
                    <td>@portForward.Address</td>
                }
                <td>@portForward.Device</td>
                <td>@portForward.LocalIP</td>
                <td>@portForward.LocalPort</td>
                <td>@portForward.WANPort</td>
            </tr>
        }
    </tbody>
</table>