@page
@model IndexModel
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Protocol</th>
            <th scope="col">Address</th>
            <th scope="col">Device</th>
            <th scope="col">Local IP</th>
            <th scope="col">Local Port</th>
            <th scope="col">WAN Port</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PortForward portForward in Model.PortForwards.OrderBy(pF => pF.WANPort))
        {
            <tr>

                <th scope="row">@portForward.Name</th>
                @switch (@portForward.Accessible)
                {
                    case -1:
                        <td><img class="status-icon" src="~/offline.png" /></td>
                        break;
                    case 0:
                        <td><img class="status-icon" src="~/na.png" /></td>
                        break;
                    case 1:
                        <td><img class="status-icon" src="~/online.png" /></td>
                        break;
                }
                <td>@portForward.Type</td>
                <td>@portForward.Protocol</td>
                @if (!string.IsNullOrEmpty(portForward.Address))
                    if (portForward.Protocol is not null && portForward.Protocol.StartsWith("HTTP"))
                    {
                        <td><a class="link-light" href="@(portForward.Protocol)://@(portForward.Address)">@portForward.Address</a></td>
                    }
                    else
                    {
                        <td>@portForward.Address</td>
                    }
                else
                {
                    <td>N/A</td>
                }
                <td>@portForward.Device</td>
                <td>@portForward.LocalIP</td>
                <td>@portForward.LocalPort</td>
                <td>@portForward.WANPort</td>
            </tr>
        }
    </tbody>
</table>